// Reset
*, *:after, *:before {
    margin: 0;
    padding: 0;
    // font-family: sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Imports
@import "variables";
@import "mixins";
@import "animations";

// Structures
@import "modularrr-redux";

html {
    background-color: $black;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
            text-size-adjust: none;
}

body {
    // Let's give to every OS its proper font-family,
    // simply by exclusion
    //           .FxOS           .Android  .iOS
    font-family: "Fira Sans OT", "Roboto", "Helvetica Neue", Arial;
}

.spinner {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(../assets/_spinner/base.svg) no-repeat center center;
    background-size: cover;

    -webkit-animation: rotate 1s infinite linear;
       -moz-animation: rotate 1s infinite linear;
        -ms-animation: rotate 1s infinite linear;
         -o-animation: rotate 1s infinite linear;
            animation: rotate 1s infinite linear;
}

.has-bottomnav .scroll-content {
    padding-bottom: $brand-item-height;
}

.viewnext,
.viewprev,
.viewpop,
.view {
    background-color: $white;
    position: fixed;
    width: 100%;
    height: 100%;
}

.view-drawer {
    z-index: 99999;
    width: 80%;
    // &, & a { color: #fff;}
    box-shadow: 2px 0 0 rgba(#000, 0.07);
    background-color: #32373a;
    background-color: $white;
}
.view-drawer nav a {
    display: block;
    line-height: $brand-item-height;
    padding: $brand-item-padding;
    text-decoration: none;
    border-bottom: 1px solid rgba(#fff, 0.10);
    border-bottom: 1px solid rgba(#000, 0.10);
}

.view-drawer .close-drawer {
    display: block;
    position: absolute;
    top: 0;
    right: -25%;
    height: 100%;
    width: 25%;
    text-indent: -9999px;
    background-color: transparent;
    // background-color: rgba($black, 0.50);
    // -webkit-transition: opacity .1s linear;
    // -moz-transition: opacity .1s linear;
    // -ms-transition: opacity .1s linear;
    // transition: opacity .1s linear;
}
    
.hidden .close-drawer {
    // background-color: transparent;
}

.view-home:not(.hidden) {
    opacity: 1 !important;
}

.view-drawer:not(.hidden) ~ .view-home.hidden {
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0) !important; // fade out like
       -moz-transform: translate3d(0, 0, 0) !important; // fade out like
        -ms-transform: translate3d(0, 0, 0) !important; // fade out like
            transform: translate3d(0, 0, 0) !important; // fade out like
            opacity: 0.5 !important;
            // opacity: 0.5;
}

.slideDownIn, .slideDownOut,
.getDrawerIn, .getDrawerOut,
.delDrawerIn, .delDrawerOut,
.moveLeftIn, .moveRightIn,
.moveLeftOut, .moveRightOut,
.pushUpIn, .pushUpOut,
.pushDownIn, .pushDownOut {
    pointer-events: none;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.50, 0.50, 0.05, 0.95);

    -moz-animation-duration: 0.35s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: cubic-bezier(0.50, 0.50, 0.05, 0.95);

    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.50, 0.50, 0.05, 0.95);
}

.slideDownIn {
    -webkit-animation-name: slideDownIn;
       -moz-animation-name: slideDownIn;
            animation-name: slideDownIn;
}
.slideDownOut {
    -webkit-animation-name: slideDownOut;
       -moz-animation-name: slideDownOut;
            animation-name: slideDownOut;
}

.getDrawerIn {
    -webkit-animation-name: getDrawerIn;
       -moz-animation-name: getDrawerIn;
            animation-name: getDrawerIn;
}
.getDrawerOut {
    -webkit-animation-name: getDrawerOut;
       -moz-animation-name: getDrawerOut;
            animation-name: getDrawerOut;
}
.delDrawerIn {
    -webkit-animation-name: delDrawerIn;
       -moz-animation-name: delDrawerIn;
            animation-name: delDrawerIn;
}
.delDrawerOut {
    -webkit-animation-name: delDrawerOut;
       -moz-animation-name: delDrawerOut;
            animation-name: delDrawerOut;
}


.moveLeftIn {
    -webkit-animation-name: moveLeftIn;
       -moz-animation-name: moveLeftIn;
            animation-name: moveLeftIn;
}
.moveLeftOut {
    -webkit-animation-name: moveLeftOut;
       -moz-animation-name: moveLeftOut;
            animation-name: moveLeftOut;
}

.moveRightIn {
    -webkit-animation-name: moveRightIn;
       -moz-animation-name: moveRightIn;
            animation-name: moveRightIn;
}
.moveRightOut {
    -webkit-animation-name: moveRightOut;
       -moz-animation-name: moveRightOut;
            animation-name: moveRightOut;
}

.pushUpIn {
    -webkit-animation-name: pushUpIn;
       -moz-animation-name: pushUpIn;
            animation-name: pushUpIn;
}
.pushUpOut {
    -webkit-animation-name: pushUpOut;
       -moz-animation-name: pushUpOut;
            animation-name: pushUpOut;
}

.pushDownIn {
    -webkit-animation-name: pushDownIn;
       -moz-animation-name: pushDownIn;
            animation-name: pushDownIn;
}
.pushDownOut {
    -webkit-animation-name: pushDownOut;
       -moz-animation-name: pushDownOut;
            animation-name: pushDownOut;
}

.hidden {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
       -moz-touch-callout: none;
            touch-callout: none;
    pointer-events: none !important;
    -webkit-transform: translate3d(0, 150%, 0);
       -moz-transform: translate3d(0, 150%, 0);
        -ms-transform: translate3d(0, 150%, 0);
            transform: translate3d(0, 150%, 0);
}
.hidden .scroll,
.hidden .scroll-content {
    overflow: hidden;
    -webkit-overflow-scrolling: none;
       -moz-overflow-scrolling: none;
}

.btn {
    @extend %clearfix;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
}

// Primitives
header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    line-height: 2rem;
    line-height: $brand-item-height;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
       -moz-touch-callout: none;
            touch-callout: none;

    // Styles
    background-color: rgba(248,248,248,0.98);
    background-color: rgba(#DCE1E3, 1.00);

    h1 {
        font-weight: normal;
        font-size: 1.125rem;
    }

    .btn {
        display: block;
        height: inherit;
        line-height: inherit;
        vertical-align: middle;
        font-size: 0.75rem;
        font-weight: 500;
        color: #222;
        text-decoration: none;
        text-transform: uppercase;

        &:active {
            background-color: rgba($turquoise, 0.20);
        }
    }
    .btn .label {
        vertical-align: middle;
        padding: 0 0.75rem;
    }
    .btn .action {
        color: $blue;
    }
    .btn .confirm {
        color: $green;
    }

    .btn img {
        vertical-align: middle;
    }
    .menu {
        min-width: 0 !important;
    }

    .menu-icon {
        height: $brand-item-height;
        line-height: $brand-item-height;
        white-space: nowrap;
        width: auto;
        max-width: auto;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
    }

    .menu-icon .ctrl {
        float: left;
        position: relative;
        top: 2px;
        left: -0.125rem;
    }
    .menu-icon .logo {
        display: block;
        position: relative;
        top: 5px;
        top: 7px;
        margin-left: -0.75rem;
        float: left;
        max-width: 30px;
        max-height: 30px;
    }
}

header .btn {
    // display: block;
    min-width: 40px;
}
header .btn img {
    display: block;
}

header .menu {
    min-width: auto;
    width: 40px;
}

.scroll {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
       -moz-overflow-scrolling: touch;
}
.scroll-content {
    position: absolute;
    top: 0;
    padding-top: $brand-item-height;
    overflow-x: hidden;
    overflow-y: hidden;
    // -webkit-overflow-scrolling: touch;
    //    -moz-overflow-scrolling: touch;
    width: 100%;
    // height: 100vh;
    // height: 100vh;
    background-color: $turquoise;
    background-color: $white;
}

.navbar {
    @extend %clearfix;
    position: relative;
    width: 100%;
    position: fixed;
    position: absolute;
    z-index: 10;
    line-height: $brand-item-height;
    bottom: 0;
}
    .navbar .btn {
        display: block;
        float: left;
        line-height: inherit;
        font-size: 1.125rem;
    }

    /*
    // NavBar grids
    // A simple grid for a simple, reusable, structure
    */
    // 1 block
    .navbar[data-grid="1"] .btn,
    .navbar[data-grid="1"] .span1 { width: 100% }
    // 2 blocks
    .navbar[data-grid="2"] .btn,
    .navbar[data-grid="2"] .span1 { width: 50%  }
    // 3 blocks
    .navbar[data-grid="3"] .btn,
    .navbar[data-grid="3"] .span1 { width: 33.33334% }
    .navbar[data-grid="3"] .span2 { width: 66.66667% }
    // 4 blocks
    .navbar[data-grid="4"] .btn,
    .navbar[data-grid="4"] .span1 { width: 25% }
    .navbar[data-grid="4"] .span2 { width: 50% }
    .navbar[data-grid="4"] .span3 { width: 75% }
    // 5 blocks
    .navbar[data-grid="5"] .btn,
    .navbar[data-grid="5"] .span1 { width: 20% }
    .navbar[data-grid="5"] .span2 { width: 40% }
    .navbar[data-grid="5"] .span3 { width: 60% }
    .navbar[data-grid="5"] .span4 { width: 80% }
    // 6 blocks
    .navbar[data-grid="6"] .btn,
    .navbar[data-grid="6"] .span1 { width: 16.66667% }
    .navbar[data-grid="6"] .span2 { width: 33.33334% }
    .navbar[data-grid="6"] .span3 { width: 50%       }
    .navbar[data-grid="6"] .span4 { width: 66.66667% }
    .navbar[data-grid="6"] .span5 { width: 83.33334% }

.menu {
    padding: 0 !important;
    margin-right: 10px;
    width: 26px;
    border-right: 1px solid rgba(000,000,000,0.07);

    img {
        display: block;
        float: left;
    }
}

@import "custom";