// Colors
$brand-text: #333333;
$brand-bg:   #333333;

$red:     #e6224c;
$orange:  #ff7016;
$yellow:  #f2de00;
$green:   #88d228;
$blue:    #4189ff;
$purple:  #bf3a88;
$tortora: #806d59;
$grey:    #e3e4e6;
$black:   #000000;
$turquoise: #2e9ccc;
$white:   #fff;

// Dimensions
// $brand-item-height: 2.5rem;
$brand-item-height: 2.75rem;
$brand-item-padding: 0 0.75rem;
$brand-item-padding-v: 0;
$brand-item-padding-h: 0.75rem;